:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.message {
    position: relative;
    background: #000000;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.message::before {
    content: "";
    position: absolute;
    bottom: 105%;
    left: 50%;
    width: 0;
    height: 0;
    border: 25px solid transparent;
    border-bottom-color: #000000;
    border-top: 0;
    margin-top: -10px;
    margin-bottom: -25px;
    margin-left: -20px;
}
