<div class="message">
<h2>{{ launch.name }}</h2>
<p class="card-text">Дата запуска: {{ launch.date_utc | date }}</p>
<p class="card-text">Время запуска: {{ launch.date_utc | date:'HH:mm' }}</p>
<p class="card-text" *ngIf="launch.success !== null">Успешно: {{ launch.success ? 'Да' : 'Нет' }}</p>
<p class="card-text">Номер пуска: {{ launch.flight_number }}</p>
<p class="card-text">Ракета: {{ launch.rocket }}</p>
<p class="card-text">Площадка для запуска: {{ launch.launchpad }}</p>
<div *ngFor="let crewMember of launch.crew">
    <p class="card-text">Член экипажа: {{ crewMember }}</p>
</div>
<div *ngFor="let payload of launch.payloads">
    <p class="card-text">Полезная нагрузка: {{ payload }}</p>
</div>
<p class="card-text">Ссылки:
    <a [href]="launch.links.reddit.launch" [ngStyle]="{'color': 'red'}">Reddit</a>
    <span> | </span>
    <a [href]="launch.links.webcast" [ngStyle]="{'color': 'red'}">Трансляция на YouTube</a>
    <span> | </span>
    <a [href]="launch.links.wikipedia" [ngStyle]="{'color': 'red'}">Wiki</a>
</p>
</div>
