.upcoming {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
}

.upcoming .card {
  flex-basis: 33.33%;
  margin: auto;
}

button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 10px 20px;
  background-color: #4CAF50; /* Зеленый */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
