.upcoming {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    align-content: flex-start;
    justify-content: center;
}

.upcoming .card {
    flex-basis: 33.33%;
    margin: 10px; /* Измените это значение, чтобы уменьшить расстояние между элементами */
}

button {
    position: relative;
}
