body {
    background-image: url('assets/img/background.png');
    /* чтобы изображение заполнило весь экран */
    background-repeat: repeat;
    color: white;
    margin: 0;
    font-family: Roboto, sans-serif;
}
