<div class="card">
    <div (click)="selectLaunch()">
        <div class="card-header">
        <h5 class="card-title">{{ launch.name }}</h5>
        </div>
        <img class="card-image" [ngSrc]="launch.links.patch.small ?? 'assets/img/spacex-svgrepo-com.svg'"  alt="Launch Patch" height="64" width="64">
        <p class="card-text">Дата запуска: {{ launch.date_utc | date }}</p>
        <p class="card-text">Время запуска: {{ launch.date_utc | date:'HH:mm' }}</p>
        <p class="card-text">Ракета: {{ launch.rocket }}</p>
        <p class="card-text">Номер пуска: {{ launch.flight_number }}</p>
    </div>
</div>
<app-launch-detail *ngIf="showDetails" [launch]="launch"></app-launch-detail>
